<div id="page-header" class="bg-gradient-8">
    <div id="mobile-navigation">
        <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
        <a href="index.html" class="logo-content-small" title="MonarchUI"></a>
    </div>
    <div id="header-logo" class="logo-bg">
        <a href="index.html" class="logo-content-big" title="MonarchUI">
            Monarch <i>UI</i>
            <span>The perfect solution for user interfaces</span>
        </a>
        <a href="index.html" class="logo-content-small" title="MonarchUI">
            Monarch <i>UI</i>
            <span>The perfect solution for user interfaces</span>
        </a>
        <a id="close-sidebar" href="#" title="Close sidebar">
            <i class="glyph-icon icon-angle-left"></i>
        </a>
    </div>
    <div id="header-nav-left">
        <div class="user-account-btn dropdown">
            <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                <img width="50" src="../img/retrato.jpg" alt="Profile image">
                <span>Caio Pires Silva</span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <div class="dropdown-menu float-left">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            <a href="#" title="" class="change-img">Change photo</a>
                            <img src="../img/retrato.jpg" alt="">
                        </div>
                        <div class="user-info">
                            <span>
                                Caio Pires Silva
                            </span>
                            <a href="#/perfil" title="Editar perfil">Editar Perfil</a>
                            <a href="#" title="View notifications">Notificações</a>
                        </div>
                    </div>

                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="#" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #header-nav-left -->

    <div id="header-nav-right">
        <a href="#" class="hdr-btn popover-button" title="Search" data-placement="bottom" data-id="#popover-search">
            <i class="glyph-icon icon-search"></i>
        </a>
        <div class="hide" id="popover-search">
            <div class="pad5A">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search terms here ...">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" href="#">Search</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="dropdown" id="notifications-btn">
            <a data-toggle="dropdown" href="#" title="">
                <span class="small-badge bg-yellow"></span>
                <i class="glyph-icon icon-linecons-megaphone"></i>
            </a>
            <div class="dropdown-menu box-md float-right">

                <div class="popover-title display-block clearfix pad10A">
                    Notifications
                    <a class="text-transform-cap font-primary font-normal btn-link float-right" href="#" title="View more options">
                        More options...
                    </a>
                </div>
                <div class="scrollable-content scrollable-slim-box">
                    <ul class="no-border notifications-box">
                        <li>
                            <span class="bg-danger icon-notification glyph-icon icon-bullhorn"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-warning icon-notification glyph-icon icon-users"></span>
                            <span class="notification-text font-blue">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-green icon-notification glyph-icon icon-sitemap"></span>
                            <span class="notification-text font-green">A success message example.</span>
                            <div class="notification-time">
                                <b>2 hours</b> ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-azure icon-notification glyph-icon icon-random"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-warning icon-notification glyph-icon icon-ticket"></span>
                            <span class="notification-text">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-blue icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text font-blue">Alternate notification styling.</span>
                            <div class="notification-time">
                                <b>2 hours</b> ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-green icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text font-green">A success message example.</span>
                            <div class="notification-time">
                                <b>2 hours</b> ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pad10A button-pane button-pane-alt text-center">
                    <a href="#" class="btn btn-primary" title="View all notifications">
                        View all notifications
                    </a>
                </div>
            </div>
        </div>
    </div><!-- #header-nav-right -->

</div>
<div id="page-sidebar" style="padding-top: 7%">
    <div class="scroll-sidebar">


        <ul id="sidebar-menu">
            <li>
                <a href="#index" title="Home">
                    <i class="glyph-icon icon-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="divider"></li>
            @*<li class="no-menu">
                    <a href="#/cadastro" title="Cadastro">
                        <i class="glyph-icon icon-pencil"></i>
                        <span>Cadastro</span>

                    </a>
                </li>*@
            <li class="header"><span>Desaparecido</span></li>
            <li>
                <a href="#/cadastroDesaparecido" title="Cadastro Desaparecido">
                    <i class="glyph-icon icon-pencil"></i>
                    <span>Cadastro</span>
                </a>


            </li>
            @*<li>
                    <a href="javascript:void(0);" title="Dashboard boxes">
                        <i class="glyph-icon icon-linecons-lightbulb"></i>
                        <span>Dashboard boxes</span>
                    </a>
                    <div class="sidebar-submenu">

                        <ul>
                            <li><a href="#chart-boxes" title="Chart boxes"><span>Chart boxes</span></a></li>
                            <li><a href="#tile-boxes" title="Tile boxes"><span>Tile boxes</span></a></li>
                            <li><a href="#social-boxes" title="Social boxes"><span>Social boxes</span></a></li>
                            <li><a href="#panel-boxes" title="Panel boxes"><span>Panel boxes</span></a></li>
                        </ul>

                    </div><!-- .sidebar-submenu -->
                </li>
                <li>
                    <a href="javascript:void(0);" title="Widgets">
                        <i class="glyph-icon icon-linecons-wallet"></i>
                        <span>Widgets</span>
                    </a>
                    <div class="sidebar-submenu">

                        <ul>
                            <li><a href="#tabs" title="Responsive tabs"><span>Responsive tabs</span></a></li>
                            <li><a href="#collapsable" title="Collapsables"><span>Collapsable accordions</span></a></li>
                            <li><a href="#bs-carousel" title="Bootstrap Carousel"><span>Bootstrap carousel</span></a></li>
                            <li><a href="#calendar" title="Calendar"><span>Calendar</span></a></li>
                            <li><a href="#scrollbars" title="Custom scrollbars"><span>Custom scrollbars</span></a></li>
                            <li><a href="#modals" title="Modals"><span>Modals</span></a></li>
                            <li><a href="#notifications" title="Notifications"><span>Notifications</span></a></li>
                            <li><a href="#lazyload" title="Lazyload"><span>Lazyload</span></a></li>
                            <li><a href="#loading-feedback" title="Loading feedback"><span>Loading feedback</span></a></li>
                            <li><a href="#popovers-tooltips" title="Popovers & Tooltips"><span>Popovers & Tooltips</span></a></li>
                            <li><a href="#progress-bars" title="Progress bars"><span>Progress bars</span></a></li>
                            <li><a href="#sortable-elements" title="Sortable elements"><span>Sortable elements</span></a></li>
                        </ul>

                    </div><!-- .sidebar-submenu -->
                </li>
                <li>
                    <a href="javascript:void(0);" title="Maps">
                        <i class="glyph-icon icon-linecons-sound"></i>
                        <span>Maps</span>
                    </a>
                    <div class="sidebar-submenu">

                        <ul>
                            <li><a href="#gmaps" title="gMaps"><span>gMaps</span></a></li>
                            <li><a href="#vector-maps" title="Vector maps"><span>Vector maps</span></a></li>
                            <li><a href="#mapael" title="Mapael"><span>Mapael</span></a></li>
                        </ul>

                    </div><!-- .sidebar-submenu -->
                </li>*@

        </ul><!-- #sidebar-menu -->


    </div>
</div>
