<!--Chave API Google Maps: AIzaSyAHMgbkEvkhYWP0AQUuxpwXlP4y7PGB5oM -->

<div class="container" ng-controller="cadastroDesaparecidoController" style="margin-right: 0px !important; padding-right: 0px !important; padding-left: 180.156px !important; padding-top: 8% !important;">

    <div ng-show="!isCadastro" class="container">

        <h2 class="page-title">Lista de Pessoas Desaparecidas</h2>


        <!-- Nova Pessoa Desaparecida-->
        <div class="row">
            <div class="col">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="col-xs-offset-11">
                            <a ng-click="adicionarPessoa()" title="Adicionar" style="cursor:pointer">
                                <i class="glyph-icon icon-plus"></i>
                                <span>Adicionar</span>
                            </a>
                        </div>
                        <br />
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Data de cadastro</th>
                                    <th>Data da última atualização</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pessoa in pessoasDesaparecidas">
                                    <th>{{pessoa.NOME_DESAPARECIDO}}</th>
                                    <th>{{pessoa.dtCadastro}}</th>
                                    <th>{{pessoa.dtUltimaAtualizacao}}</th>
                                    <th>
                                        <div>
                                            <a ng-click="editarPessoa(pessoa)" title="Editar" style="cursor:pointer">
                                                <i class="glyph-icon icon-pencil"></i>
                                                <span>Editar</span>
                                            </a>
                                            <a ng-click="removerPessoa(pessoa)" title="Excluir" style="cursor:pointer">
                                                <i class="glyph-icon icon-remove"></i>
                                                <span>Excluir</span>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="isCadastro" class="container">

        <h2 class="page-title">Cadastrar Pessoa Desaparecida</h2>


        <!-- Nova Pessoa Desaparecida-->
        <div class="row">
            <div class="col">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <form novalidate name="formPessoa" role="form" ng-submit="salvarPessoa()">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div ng-init="InicializaFormulario(formPessoa)"></div>
                                    <label>Nome</label>
                                    <input ng-disabled="editMode" type="text" class="form-control" name="nome" placeholder="Nome" maxlength="100" required autofocus ng-model="pessoa.NOME_DESAPARECIDO" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.nome.$error.required">Campo <strong>nome</strong> é obrigatório</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>RG</label>
                                    <input ng-disabled="editMode" type="text" class="form-control" name="rg" placeholder="RG" mask="99.999.999-9" clean="true" maxlength="14" required ng-model="pessoa.RG_DESAPARECIDO" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.rg.$error.required">Campo <strong>RG</strong> é obrigatório</span>
                                </div>
                                <div class="col-xs-4">
                                    <label>CPF</label>
                                    <input ng-disabled="editMode" type="text" class="form-control" name="cpf" placeholder="CPF" maxlength="14" mask="999.999.999-99" clean="true" required ng-model="pessoa.CPF_DESAPARECIDO" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.cpf.$error.required">Campo <strong>CPF</strong> é obrigatório</span>
                                </div>
                                <div class="col-xs-3">
                                    <label class="control-label" for="horario">Horario ultima vez visto</label>
                                    <input ng-disabled="editMode" type="text" class="form-control" name="horario" placeholder="Horario" mask="29:59" maxlength="14" ng-model="pessoa.HORARIO_DESAPARECIDO" />
                                    <!--<span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.horario.$error.required">Campo <strong>sexo</strong> é obrigatório</span>-->
                                </div>
                            </div>
                            <br />
                            <!--<div class="row">
                                <div class="col-xs-6">
                                    <label>Endereço</label>
                                    <input type="text" class="form-control" name="endereco" placeholder="Endereço" maxlength="100" required ng-model="pessoa.endereco" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.endereco.$error.required">Campo <strong>endereço</strong> é obrigatório</span>
                                </div>
                                <div class="col-xs-2">
                                    <label>Número</label>
                                    <input type="text" class="form-control" name="numero" placeholder="Número" maxlength="5" required ng-model="pessoa.numero" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.numero.$error.required">Campo <strong>número</strong> é obrigatório</span>
                                </div>
                                <div class="col-xs-4">
                                    <label>Complemento</label>
                                    <input type="text" class="form-control" name="complemento" placeholder="Complemento" maxlength="15" required ng-model="pessoa.complemento" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.complemento.$error.required">Campo <strong>complemento</strong> é obrigatório</span>
                                </div>
                            </div>-->
                            <div ng-disabled="true">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Data em que o desaparecido foi visto pela ultima vez</label>
                                        <input ng-disabled="editMode" type="text" class="form-control" name="dtUltimaVezVisto" placeholder="Data ultima vez visto" mask="99/99/9999" maxlength="10" required ng-model="pessoa.DATA_DESAPARECIDO" />
                                        <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.dtUltimaVezVisto.$error.required">Campo <strong>Data Ultima vez que foi visto</strong> é obrigatório</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Anexo do boletim de ocorrencia</label>
                                        <input ng-disabled="editMode" type="file" class="form-control" ngf-select="uploadFiles($file, $invalidFiles)" ng-model="pessoa.BO_DESAPARECIDO" name="arquivo" ngf-max-size="10MB" ngf-model-invalid="errorFile">
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Resumo</label>
                                        <textarea rows="5" ng-disabled="editMode" type="text" class="form-control" name="resumo" placeholder="Faça um breve resumo sobre o desaparecimento" maxlength="255" required ng-model="pessoa.CARACTERISTICAS_DESAPARECIDO" />
                                        <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.resumo.$error.required">Campo <strong>número</strong> é obrigatório</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-hide="editMode">
                                <div class="col-xs-6">
                                    <label>Imagem do desaparecido</label>
                                    <input type="file" class="form-control" onchange="angular.element(this).scope().setImgAsBase64(this)" name="arquivoFoto" ngf-max-size="5MB">
                                </div>
                            </div>
                            <div ng-hide="!editMode">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Imagem cadastrada do desaparecido</label>
                                    </div>
                                    <div class="col-xs-2">
                                        <label>Comparar Imagem</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="file" class="form-control" onchange="angular.element(this).scope().setImgComparar(this)" name="arquivoFotoCompara" ngf-max-size="5MB">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img class="center-block img-post" style="width:240px!important;height:320px!important" ng-src="{{pessoa.STR_FOTO_DESAPARECIDO}}" />
                                    </div>
                                    <div class="col-xs-6">

                                        <img class="center-block img-post" ng-show="showfotoComparacao" ng-src="{{fotoComparacao}}" style="width:240px!important;height:320px!important">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div><button type="button" class="btn btn-primary" ng-click="comparar()">Comparar</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>Local onde a pessoa foi vista pela última vez</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input id="pac-input" class="controls form-group" style="width:50% !important; margin-top:1.3% !important;" type="text" placeholder="Pesquisar">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="map" class="form-control" style="overflow: visible !important; margin:0; padding:0; height:500px;"></div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="center-div col-sm-3">
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                    <a ng-click="isCadastro = !isCadastro" class="btn btn-primary">Voltar</a>
                                </div>
                            </div>
                        </form>



                        <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyC3-G4GK4Y27lZzK4lzsWTZM7swOnByEMM&libraries=places&callback=initMap" async defer></script>
                        <script>
                            var map;
                            function initMap() {

                                var map = new google.maps.Map(document.getElementById('map'), {
                                    center: { lat: -23.223701, lng: -45.900907 },
                                    zoom: 15
                                });

                                var input = document.getElementById('pac-input');
                                var searchBox = new google.maps.places.SearchBox(input);
                                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                                map.addListener('bounds_changed', function () {
                                    searchBox.setBounds(map.getBounds());
                                });

                                var markers = [];

                                searchBox.addListener('places_changed', function () {
                                    var places = searchBox.getPlaces();

                                    if (places.length == 0) {
                                        return;
                                    }

                                    markers.forEach(function (marker) {
                                        marker.setMap(null);
                                    });
                                    markers = [];

                                    var bounds = new google.maps.LatLngBounds();
                                    places.forEach(function (place) {
                                        if (!place.geometry) {
                                            console.log("Returned place contains no geometry");
                                            return;
                                        }
                                        var icon = {
                                            url: place.icon,
                                            size: new google.maps.Size(71, 71),
                                            origin: new google.maps.Point(0, 0),
                                            anchor: new google.maps.Point(17, 34),
                                            scaledSize: new google.maps.Size(25, 25)
                                        };

                                        // Create a marker for each place.
                                        markers.push(new google.maps.Marker({
                                            map: map,
                                            icon: icon,
                                            title: place.name,
                                            position: place.geometry.location
                                        }));

                                        if (place.geometry.viewport) {
                                            // Only geocodes have viewport.
                                            bounds.union(place.geometry.viewport);
                                        } else {
                                            bounds.extend(place.geometry.location);
                                        }
                                    });
                                    map.fitBounds(bounds);
                                });

                                var marker = new google.maps.Marker({
                                    position: myLatlng,
                                    map: map,
                                    title: 'Click to zoom'
                                });

                                map.addListener('center_changed', function () {
                                    // 3 seconds after the center of the map has changed, pan back to the
                                    // marker.
                                    window.setTimeout(function () {
                                        map.panTo(marker.getPosition());
                                    }, 3000);
                                });

                                marker.addListener('click', function () {
                                    map.setZoom(8);
                                    map.setCenter(marker.getPosition());
                                });





                            }
                        </script>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
