<!--Chave API Google Maps: AIzaSyAHMgbkEvkhYWP0AQUuxpwXlP4y7PGB5oM -->

<div class="container" ng-controller="cadastroDesaparecidoController" style="margin-right: 0px !important; padding-right: 0px !important; padding-left: 180.156px !important; padding-top: 8% !important;">

    <div ng-show="!isCadastro" class="container">

        <h2 class="page-title">Lista de Pessoas Desaparecidas</h2>


        <!-- Nova Pessoa Desaparecida-->
        <div class="row">
            <div class="col">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="col-xs-offset-11">
                            <a ng-click="adicionarPessoa()" title="Adicionar" style="cursor:pointer">
                                <i class="glyph-icon icon-plus"></i>
                                <span>Adicionar</span>
                            </a>
                        </div>
                        <br />
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Data de cadastro</th>
                                    <th>Data da última atualização</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pessoa in pessoasDesaparecidas">
                                    <th>{{pessoa.nome}}</th>
                                    <th>{{pessoa.dtCadastro}}</th>
                                    <th>{{pessoa.dtUltimaAtualizacao}}</th>
                                    <th>
                                        <div>
                                            <a ng-click="editarPessoa(pessoa)" title="Editar" style="cursor:pointer">
                                                <i class="glyph-icon icon-pencil"></i>
                                                <span>Editar</span>
                                            </a>
                                            <a ng-click="removerPessoa(pessoa)" title="Excluir" style="cursor:pointer">
                                                <i class="glyph-icon icon-remove"></i>
                                                <span>Excluir</span>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="isCadastro" class="container">

        <h2 class="page-title">Cadastrar Pessoa Desaparecida</h2>


        <!-- Nova Pessoa Desaparecida-->
        <div class="row">
            <div class="col">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <form novalidate name="formPessoa" role="form" ng-submit="salvarPessoa()">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div ng-init="InicializaFormulario(formPessoa)"></div>
                                    <label>Nome</label>
                                    <input type="text" class="form-control" name="nome" placeholder="Nome" maxlength="100" required autofocus ng-model="pessoa.nome" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.nome.$error.required">Campo <strong>nome</strong> é obrigatório</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>RG</label>
                                    <input type="text" class="form-control" name="rg" placeholder="RG" maxlength="11" required ng-model="pessoa.rg" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.rg.$error.required">Campo <strong>RG</strong> é obrigatório</span>
                                </div>
                                <div class="col-xs-5">
                                    <label>CPF</label>
                                    <input type="text" class="form-control" name="cpf" placeholder="CPF" maxlength="14" required ng-model="pessoa.cpf" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.cpf.$error.required">Campo <strong>CPF</strong> é obrigatório</span>
                                </div>
                                <div class="col-xs-2">
                                    <label class="control-label">Sexo</label>
                                    <select class="form-control" name="sexo" ng-model="pessoa.sexo" required>
                                        <option value="" disabled>Escolha a opção</option>
                                        <option value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.sexo.$error.required">Campo <strong>sexo</strong> é obrigatório</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Endereço</label>
                                    <input type="text" class="form-control" name="endereco" placeholder="Endereço" maxlength="100" required ng-model="pessoa.endereco" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.endereco.$error.required">Campo <strong>endereço</strong> é obrigatório</span>
                                </div>
                                <div class="col-xs-2">
                                    <label>Número</label>
                                    <input type="text" class="form-control" name="numero" placeholder="Número" maxlength="5" required ng-model="pessoa.numero" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.numero.$error.required">Campo <strong>número</strong> é obrigatório</span>
                                </div>
                                <div class="col-xs-4">
                                    <label>Complemento</label>
                                    <input type="text" class="form-control" name="complemento" placeholder="Complemento" maxlength="15" required ng-model="pessoa.complemento" />
                                    <span class="form-control alert-danger" ng-show="formPessoa.$submitted && formPessoa.complemento.$error.required">Campo <strong>complemento</strong> é obrigatório</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>Local onde a pessoa foi vista pela última vez</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6">
                                    <input id="pac-input" class="controls form-group" type="text" placeholder="Pesquisar">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="map" class="form-control" style="overflow: visible !important; margin:0; padding:0; height:500px;"></div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="center-div col-sm-3">
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                    <a ng-click="isCadastro = !isCadastro" class="btn btn-primary">Voltar</a>
                                </div>
                            </div>
                        </form>

                        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyC3-G4GK4Y27lZzK4lzsWTZM7swOnByEMM&libraries=places&callback=initMap" async defer></script>
                        <script>
                            var map;
                            function initMap() {

                                var map = new google.maps.Map(document.getElementById('map'), {
                                    center: { lat: -23.223701, lng: -45.900907 },
                                    zoom: 15
                                });

                                var input = document.getElementById('pac-input');
                                var searchBox = new google.maps.places.SearchBox(input);
                                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                                map.addListener('bounds_changed', function () {
                                    searchBox.setBounds(map.getBounds());
                                });

                                var markers = [];

                                searchBox.addListener('places_changed', function () {
                                    var places = searchBox.getPlaces();

                                    if (places.length == 0) {
                                        return;
                                    }

                                    markers.forEach(function (marker) {
                                        marker.setMap(null);
                                    });
                                    markers = [];

                                    var bounds = new google.maps.LatLngBounds();
                                    places.forEach(function (place) {
                                        if (!place.geometry) {
                                            console.log("Returned place contains no geometry");
                                            return;
                                        }
                                        var icon = {
                                            url: place.icon,
                                            size: new google.maps.Size(71, 71),
                                            origin: new google.maps.Point(0, 0),
                                            anchor: new google.maps.Point(17, 34),
                                            scaledSize: new google.maps.Size(25, 25)
                                        };

                                        // Create a marker for each place.
                                        markers.push(new google.maps.Marker({
                                            map: map,
                                            icon: icon,
                                            title: place.name,
                                            position: place.geometry.location
                                        }));

                                        if (place.geometry.viewport) {
                                            // Only geocodes have viewport.
                                            bounds.union(place.geometry.viewport);
                                        } else {
                                            bounds.extend(place.geometry.location);
                                        }
                                    });
                                    map.fitBounds(bounds);
                                });

                                var marker = new google.maps.Marker({
                                    position: myLatlng,
                                    map: map,
                                    title: 'Click to zoom'
                                });

                                map.addListener('center_changed', function () {
                                    // 3 seconds after the center of the map has changed, pan back to the
                                    // marker.
                                    window.setTimeout(function () {
                                        map.panTo(marker.getPosition());
                                    }, 3000);
                                });

                                marker.addListener('click', function () {
                                    map.setZoom(8);
                                    map.setCenter(marker.getPosition());
                                });





                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
